@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron">
        <h1 class="display-3">When Was The Last Time You Ate A Fruit?</h1>
        <p class="lead">Let's make sure fresh produce is accessible to everyone!</p>
        <hr class="my-4">
        <p>Did you know there are urban farms in Philly?</p>
        <p class="lead">
            <a class="btn btn-outline-success btn-lg" href="https://www.gridphilly.com/grid-magazine/2014/11/12/10-urban-farms-in-philadelphia-you-cant-miss.html" role="button">Learn more</a>
        </p>
    </div>


<div class="row">
    <div class="col-md-4">


        <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">You Got Time?</div>
            <div class="card-body">
                <h4 class="card-title">Volunteer</h4>
                <p class="card-text">You can support families, yourself, and impact the future with urban farming.  </p>
                <p><a class="btn btn-outline-success" href="#">Sign Up! &raquo;</a></p>
            </div>
        </div>

    </div>
    <div class="col-md-4">


        <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">Want To Know More? </div>
            <div class="card-body">
                <h4 class="card-title">Learn about UFarm</h4>
                <p class="card-text">Read our story about UFarm</p>
                <p><a class="btn btn-outline-danger" href="#">Learn More! &raquo;</a></p>
            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="card border-warning mb-3" style="max-width: 20rem;">
            <div class="card-header">How Can You Support? </div>
            <div class="card-body">
                <h4 class="card-title">Learn about UFarm</h4>
                <p class="card-text">There is so many ways to support this an awesome cause!</p>
                <p><a class="btn btn-outline-warning" href="#">Check it out! &raquo;</a></p>
            </div>
        </div>
    </div>
</div>